/* ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
ul li a{
    text-align: center;
}


li a:hover {
    background-color: #111;
} */
body{
    background-image:linear-gradient(rgba(51, 38, 38, 0.568), rgba(32, 32, 32, 0.616),rgba(155, 155, 155, 0.712)),url("../../assets/img_0379.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: center;
    height:200vh;
    margin: 0; 
    padding: 0;
  

}
.head{
    background-color: rgba(122, 110, 41, 0.705);
    margin-left: 100px;
    margin-right: 100px;
    padding: 5px;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
    box-shadow: 2px 2px 4px;
}
#sec{
    box-shadow: 2px 2px 4px 1px;
    /* border-radius: 12px; */
    margin-left:360px;
    margin-right: 360px;
    position: relative;
    font-size: 20px;
    margin-top: 90px;
    background-color: rgba(245, 245, 245, 0.822);
    /* position: fixed; */
    /* height: 90px; */
}
.butt{
    background-color:#7a4579;
    padding: 15px;
    width: 150px;
    color: white;
    border-radius: 12px;
 }
 button :hover{
    background-color: #7a4579;
    transition: 0.4s;
    padding: 20px;
    box-shadow: inset 2px 2px 4px black;
}
footer.foot{
    border-top: 1px solid #4d4e50;
    /* background-color: #8b104e; */
    /* max-height: 20px; */
    background-image:linear-gradient(#F53D4E,rgba(0,0,0,0.5)), url('../../assets/city-dark-dawn-248159.jpg');
    height:100vh;
    height: 200px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 12px;
    text-align: center;
    margin-top: 5px;
    opacity: 0.95;
}
.contain{
    text-align: center;
 justify-content: center;
 
}
.item5{
   /* margin: 20px; */
    margin-left: 5px;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 3px;
    position: relative;

    /* margin-bottom:0; */
    /* margin-top: 0 ; */
}
h2{
    background-color:#7a4579;
    padding: 5px;
    border-radius: 5px; 
    margin-left:100px;
    color: white;
    margin-right: 100px;
    box-shadow: 2px 2px 4px black ;
}
.item1{
    /* box-shadow: 2px 2px 3px; */
    padding: 10px;
    width: 300px;
    margin-bottom: 3px;
    border-radius: 5px;
    position: relative;
}
.item2{
    /* box-shadow: 2px 2px 3px; */
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    position: relative;
}

.item3{
    /* box-shadow: 2px 2px 3px; */
    padding: 10px;
    border-radius: 5px;
    width: 300px;
    position: relative;
}
.item4{
    /* box-shadow: 2px 2px 3px; */
    padding: 5px;
    border-radius: 5px;
    width: 300px;
    position: relative;
}
.item6{
    /* box-shadow: 2px 2px 3px; */
    padding: 10px;
    border-radius: 5px;
    width: 300px;
    position: relative;
}
.item7{
    /* box-shadow: 2px 2px 3px; */
    padding: 10px;
    border-radius: 5px;
    width: 300px;
    position: relative;
}
.item{
    /* box-shadow: 2px 2px 3px; */
    padding: 10px;
    border-radius: 5px;
    width: 300px;
    position: relative;
}
/* .item, a{
margin-left: 20px;
} */
h3{
    margin-left: 20px;
}
nav{
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: #7a457996;
    margin-right: 5px;
    line-height: 50px;
    z-index: 99;
    text-align: center;
   
    
}

nav a {
    text-decoration: none;
    color: white;
    margin-left: 30px;
    line-height: 50px;
    margin-right: 2px;
    

}
nav :active{
    background-color: rgba(122, 90, 41, 0.705);
}

nav :hover{
    background-color: #7a4579;
    transition: 0.2s;
    padding: 12px;
    box-shadow: 1px 1px 1px black;
    /* display: inline-block; */
}
@media (max-width:130vh){
body{
   
    width: 120vh;
    height: 200vh;
    background-size: cover;
    background-position: center;
}

}
@media(max-width:120vh){
.item1{
    width: 160px;
    padding: 5px;
}

.item2{
    width: 160px;
    padding: 5px;
}

.item3{
    width: 160px;
    padding: 5px;
}

/* .item4{
    width: 120px;
    padding: 5px;
}

.item5{
    width: 120px;
    padding: 5px;
} */
.item{
    width: 160px;
    padding: 5;
}
.item6{
    width: 160px;
    padding: 5px;
}
.item7{
    width: 160px;
    padding: 5px;
}
p{
    font-size: 10px;
}
#sec{
    text-align: center;
  margin-left: 100px;
  height: 110vh;
  width: 130vw;
}
h2{
    font-size: 12px;
}
}



