<br>
<body class="animated slideInUp delay-2s">




  
  <!-- <div class="head" align = "center">
    <br>
    <h1>Event Finder</h1>
  </div> -->
  <br>
  <section class="sec">
    <br>
    
  <form >
      <div align="center">
          <h2>Event Details</h2>
        </div>
        <br>
    <div class="contain">
  <h3>   <input class="item1" placeholder = "Name of Event" type="text"></h3>
  <h3>   <input class="item2" placeholder = "Description" type="text"/> </h3>
  <h3><input class="item3" placeholder = "Line Up" type="text"/></h3>  
  <h3> <input class="item" placeholder = "Date" type="text"/></h3>   
  <p><label for="item4">Start-Time: </label> <input class="item" placeholder = "Name" type="time"></p>
  <p><label for="item5">End-Time: </label> <input class="item5" placeholder = "Name" type="time"></p>
  <h3><input class="item6" placeholder = "Location" type="text"> </h3>
  <h3><input class="item7" placeholder = "Entrance fee" type="text" ></h3>
    </div>
  </form>
  <br>
  <br>
  
  </section>

  
  <footer class="foot">

  </footer>
  
    
  </body>
  
  