<body class="animated  slideInUp delay-2s">
    br
  <div class="head" align = "center">
      <br>
      <h1>Event Finder</h1>
    </div>


    <section>
      
    </section>
</body>
     <nav>
       <a routerLink="register" class="animated slideInLeft delay-2s">Home</a>
       <a routerLink="upload-event" class="animated bounce delay-2s">Upload</a>
       <a routerLink="view" class="animated bounce delay-2s">Events</a>
       <a routerLink="log-in" class="animated bounce delay-2s">Log In</a>

     </nav> 
      <router-outlet></router-outlet> 
    


 




