<body class="animated  slideInDown delay-2s">
<!--     
  <div class="head" align = "center">
      <br>
      <h1>Event Finder</h1>
    </div> -->


    <section>

    </section>
</body>
     <!-- <nav class="animated slideInLeft delay-2s">
        <a routerLink="log-in" class="animated bounce delay-2s">Home</a>
       <a routerLink="register" class="animated slideInLeft delay-2s">Home</a>
       <a routerLink="upload-event" class="animated bounce delay-2s">Upload</a>
       <a routerLink="view" class="animated bounce delay-2s">Events</a>
      

     </nav>  -->
      <router-outlet></router-outlet> 
    


 




