<body class="animated fadeInDown delay-4s" >
  <br>
  <br>
  <br>
<div align = "center" >
<img src="../../assets/fireworks (1).png" >
<br>
<br>
<h1>Events App</h1>
</div>
  <section id="sec" class="animated slideInUp delay-2s">
    <br>
    <div  align = "center"  >
   <br>
   <form class="for">
      <h2>Sign In</h2>
      <br>
   <div class="contain">
         <b>Email:</b> <br>
          <input #email class="item" type="E-mail" name="Email" ><br>
         <br>
           <b>Password:</b> <br>
          <input #pass class="item" type="Password" name="password" ><br><br>
        </div>
        </form>
        <button  class="butt" (click)="login(email.value, pass.value)">
         <b>Log In</b>
        </button> 
        <br>
        <br>

    </div>
    <br>
    <br>
  </section>
</body>
