<br>

<body class="animated  slideInUp delay-2s">
  <br>
  <br>



  <br>
  
  
  <section class="sec">
    <br>

  <form >
<div align="center">
    <h2>Please fill in your details</h2>
  </div>
 <br>
    <div class="contain">
  
  <h3><input class="item" placeholder = "Your Name" type="text"></h3> 
  <h3><input class="item" placeholder = "Company" type="text"/> </h3>
  <h3><input class="item" placeholder = "E-mail" type="text"/></h3>
  <h3><input class="item" placeholder = "Password" type="text"/></h3>
   
</div>
 </form>
  <br>
  <br>
  
  </section>
</body>
    

  
    

